@media (prefers-color-scheme: dark) {
    :root {
    --body: hsl(242, 47%, 15%);
    --text: #fff;
    /* --title: #7177f1; */
    /* --btn: #7177f1; */
    /* --link: #7177f1; */
    /* --dots-active: #7177f1; */
    --dots: #ebebeb;
    --footer-link: #ffffff;
    /* --font-primery: 'Montserrat'; */
    /* --font-secondary: 'Trebuchet'; */
    }
    
    .logo::before {
        content: url(../img/img/svg/logo-dark.svg);
    }
    
    @media (max-width: 1440px) {
        .work::before {
            display: none;
        }
    }
    @media (max-width: 684px) { 
        .work_text {
            top: 0;
            left: 30%;
        }
    }
    /* @media (max-width: 1440px) {} */
    /* @media (max-width: 1440px) {} */
    /* @media (max-width: 1440px) {} */
}