@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body: #fff;
    --text: #323232;
    --title: #7177f1;
    --btn: #7177f1;
    --link: #7177f1;
    --footer-link: #7177f1;
    --dots-active: #7177f1;
    --dots: #828282;
    --font-primery: 'Montserrat';
    --font-secondary: 'Trebuchet';
}


body {
    background: var(--body);
    font-family: var(--font-primery);
    color: var(--text);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.logo::before {
    content: url(../img/img/svg/logo-light.svg);
}


.all-btn {
    background: var(--btn);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    padding: 10px 0;
    border-radius: 8px;
    display: block;
    text-align: center;
    color: #fff !important;
    transition: .5s;
}

.all-btn:hover {
    background: #fff;
    color: var(--title) !important;
    box-shadow: 0 0 50px 0 #7177f1;
}

.title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--title);
    line-height: 50px;
}

@keyframes matrix {
    0% {
        transform: rotate(0) scale(1.1);
    }

    100% {
        transform: rotate(360deg) scale(1.3);
    }
}


/* header start */
.header_nav {
    position: relative;
}

.header_nav::before {
    content: '';
    position: absolute;
    width: 3.5vw;
    height: 3.7vw;
    left: 243.95px;
    top: 32px;
    border: 0.3vw solid #790ff1;
    border-radius: 50%;
    z-index: -1;
    animation: matrix 20s infinite alternate;
}

.header_nav::after {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 73.66px;
    top: 92.64px;
    border: 0.3vw solid #9297ef;
    z-index: -1;
    animation: matrix 20s infinite alternate;
}

.header__link {
    font-size: 24px;
    color: var(--link);
    text-transform: capitalize;
    line-height: 16px;
}


.header__link:hover {
    color: var(--text);
}

.header_link-btn {
    width: 190px;
}

.header__list {
    column-gap: 30px;
    row-gap: 10px;
}

.header_menu {
    width: 50px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    position: relative;

}



.header_menu::before,
.header_menu::after {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    background: var(--text);
    left: 0;
    transition: .5s;
}

.header_menu::after {
    top: 10px;
}

.header_menu:not(.collapsed)::before {
    top: 0;
    transform: rotate(-45deg);
}

.header_menu:not(.collapsed)::after {
    top: 0;
    transform: rotate(45deg);
}

.header_menu.collapsed {
    background: var(--text);
}

.header_menu:focus {
    box-shadow: unset;
}

.header_content-subtitle {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text);
}

.header_content-title {
    margin-bottom: 25px;
}

.header_content-btn {
    max-width: 300px;
    width: 100%;
    margin: 0 auto 50px;
}

.header_tech-card:first-of-type .header_tech-brand {
    color: #e44f26;

}

.header_tech-card:nth-of-type(2) .header_tech-brand {
    color: #1572B6;
}

.header_tech-card:last-of-type .header_tech-brand {
    color: #790FF1;
}

.header_tech-brand {
    margin-bottom: 15px;
    animation: header_tech-brand 3s linear infinite alternate;
}

@keyframes header_tech-brand {
    0% {
        transform: scale(1.1);
    }

    20% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.9);
    }
}

.header_tech-name {
    font-size: 20px;
    font-weight: 900;
    color: var(--title);
    text-transform: uppercase;
}

.header_carousel-indicators {
    position: static;
    margin: 50px 0 0;
    column-gap: 30px;
}

.header_indicators-btn.active {
    background: var(--dots-active) !important;
}

.header_indicators-btn {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background: var(--dots) !important;
    border: none !important;
    opacity: 1 !important;

}

.header_content {
    padding: 40px 0 70px;
    position: relative;
}

.header_carousel-img {
    max-height: 500px;
}

.header_content::before {
    content: '';
    position: absolute;
    width: 5vw;
    height: 5vw;
    right: 6%;
    top: 180.26px;
    border: 0.3vw solid #9297ef;
    animation: matrix 20s linear infinite alternate;
    z-index: -1;
}

.header_content::after {
    content: '';
    position: absolute;
    width: 4vw;
    height: 4vw;
    right: 4%;
    top: 419.38px;
    border: 0.3vw solid #7177f1;
    animation: matrix 20s linear infinite alternate;
    z-index: -1;
}


/* header end */

/* block start */


.work-btn {
    text-transform: uppercase;
    max-width: 190px;
    width: 100%;
}

.work_text {
    max-width: 190px;
    width: 100%;
    padding: 23px 0;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    top: 90px;
    left: -15px;
}

.work_ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #0FDAC2;
    top: -15px;
    right: -15px;
}

.work_desc {
    background: var(--body);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    padding: 30px;
    border-radius: 8px;
}

.work {
    position: relative;
}

.work::before {
    content: url(../img/img/svg/figure_1.svg);
    position: absolute;
    right: 0;
    z-index: -1;
    top: -70%;
}


/* block end */

/* capabilities start */

.capabilities {
    padding: 80px 0;
    background: #5f66f2;
    overflow: hidden;
}

.capabilities_title {
    text-transform: capitalize;
    text-align: center;
    color: white;
}

.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    overflow: hidden;
}

.accordion_button {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    background: var(--title);
    transition: .5s;
    color: white;
    position: relative;
    justify-content: center;

}

.accordion_button.collapsed {
    background: var(--body);
    color: var(--title);
}

.accordion_body {
    background: var(--title);
    padding: 30px;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.accordion_item:nth-of-type(1) .accordion_button.collapsed .accordion_brand {
    color: #e44f26;
}

.accordion_item:nth-of-type(2) .accordion_button.collapsed .accordion_brand {
    color: #1572B6;
}

.accordion_item:nth-of-type(3) .accordion_button.collapsed .accordion_brand {
    color: #790ff1;
}


.accordion_button.collapsed .accordion-icon-down {
    transform: rotate(0);
}

.accordion-icon-down {
    transition: .5s;
    transform: rotate(180deg);
    font-size: 25px;
}

.capabilities_title {
    margin-bottom: 30px;
}


/* capabilities end */

/* my works start */

.portfolio {
    padding-bottom: 100px;
}

.portfolio__title {
    margin-bottom: 30px;
}

.portfolio__tab-image {
    min-height: 320px;
    height: 100%;
}

.portfolio__tab-img {
    width: 100%;
    max-height: 320px;
    object-position: top;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.portfolio__tab-desc {
    background: var(--body);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 20px;
}

.portfolio__tab-title {
    font-size: 24px;
}

.portfolio__tab-txt {
    font-size: 18px;
    line-height: 27px;
    color: var(--text);
}

.portfolio__tab-btn {
    max-width: 190px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
}

.portfolio__tab-link {
    background: var(--body);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    text-transform: uppercase;
    color: var(--title);
    font-size: 18px;
    font-weight: 600;
    transition: 300ms;
    padding: 9.1px;
    border: none;
}

.portfolio__tab-link.active {
    background: var(--title);
    color: var(--body);   
}

.portfolio__tab-link.active:hover {
    background: var(--title);
    color: var(--body);   
}

.portfolio__tab-link:hover {
    background: var(--body);
    color: var(--text);
    z-index: 0;
}

.portfolio__tab-list {
    border-radius: 8px;
    overflow: hidden;
}

.list-group-item+.list-group-item.active {
    margin: 0;
    border: none;
}



/* my works end*/

/* footer */


.footer_link, .footer__contact {
    font-size: 24px;
    color: var(--footer-link);
}
.footer_link:hover, .footer__contact:hover {
    text-decoration: underline;
    color: var(--title);
}

.footer__email {
    font-size: 20px;
    color: var(--footer-link);
}

.tugadi {
    margin: 20px;
}

/* footer */



/* bio start */

.header__photo-bio {
    height: 100%;
    max-height: 900px;
    overflow: hidden;
    transform: scale(0.7);
    margin-top: -10.2em;
}

.gap {
    padding: 20px 0;
}

.tugadi {
    height: 50px;
    align-items: center;
    column-gap: 50px;
}


.accordion_item:nth-of-type(1) .accordion_button.collapsed::after,
.accordion_item:nth-of-type(2) .accordion_button.collapsed::after, 
.accordion_item:nth-of-type(3) .accordion_button.collapsed::after, 
.accordion_item:nth-of-type(4) .accordion_button.collapsed::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 1px;
    background: #ddd;
    bottom: 0;

}

.bio__main {
    padding: 20px 0;
    background: #5f66f2;
    overflow: hidden;
}

.bio__title {
    color: white;
}

.unk {
    color: blue;
    font-weight: 500;
}

.yuskl {
    color: black;
    font-weight: 400;
}
/* // bio end // */